@font-face {
  font-family: 'FK Display Regular';
  src: url('../assets/fonts/FK Display Full Family/woff2/FKDisplay-Regular.woff2') format('woff2'),
    url('../assets/fonts/FK Display Full Family/woff/FKDisplay-Regular.woff') format('woff');
  font-display: block;
}
@font-face {
  font-family: 'FK Display Regular Alt';
  src: url('../assets/fonts/FK Display Full Family/woff2/FKDisplay-RegularAlt.woff2') format('woff2'),
    url('../assets/fonts/FK Display Full Family/woff/FKDisplay-RegularAlt.woff') format('woff');
  font-display: block;
}
@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('../assets/fonts/FK Grotesk Neue/woff2/FKGroteskNeue-Regular.woff2') format('woff2'),
    url('../assets/fonts/FK Grotesk Neue/woff/FKGroteskNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('../assets/fonts/FK Grotesk Neue/woff2/FKGroteskNeue-Bold.woff2') format('woff2'),
    url('../assets/fonts/FK Grotesk Neue/woff/FKGroteskNeue-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'FK Grotesk Neue';
  src: url('../assets/fonts/FK Grotesk Neue/woff2/FKGroteskNeue-Light.woff2') format('woff2'),
    url('../assets/fonts/FK Grotesk Neue/woff/FKGroteskNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Coign Pro 36 Semibold';
  src: url("../assets/fonts/coign-36-semibold-pro-web/web/CoignPro-36Semibold.woff2") format('woff2'),
    url("../assets/fonts/coign-36-semibold-pro-web/web/CoignPro-36Semibold.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Gosha Sans';
  src: url("../assets/fonts/PPGoshaSans-Regular/PPGoshaSans-Regular.woff2") format('woff2'),
    url("../assets/fonts/PPGoshaSans-Regular/PPGoshaSans-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
